@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: #f3e9e9;
}

.container {
	max-width: 60rem;
	margin: 0 auto;
}
